@import 'tailwindcss';

:root {
  font-family: 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif;
  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #131e28;
}

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --animate-border: border 4s linear infinite;

  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

.animation-border {
  animation: border 4s linear infinite;
}

.sliderImageBar_dividing_line__circle {
  border: 2px solid #fff;
  content: '';
  height: 32px;
  width: 32px;
  margin-left: -16px;
  margin-top: -16px;
  left: 50%;
  top: 50%;
  position: absolute;
  border-radius: 100%;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  display: -moz-box;
  display: flex;
  justify-content: space-around;
  -moz-box-align: center;
  align-items: center;
}

@keyframes bounce1 {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes bounce2 {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes bounce3 {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.animate-bounce1 {
  animation: bounce1 1.4s infinite ease-in-out both;
  animation-delay: -0.32s;
}

.animate-bounce2 {
  animation: bounce2 1.4s infinite ease-in-out both;
  animation-delay: -0.16s;
}

.animate-bounce3 {
  animation: bounce3 1.4s infinite ease-in-out both;
  animation-delay: 0s;
}
